<h1>Editing Transaction Product Table</h1>

<%= render 'form', transaction_product_table: @transaction_product_table %>

<%= link_to 'Show', @transaction_product_table %> |
<%= link_to 'Back', transaction_product_tables_path %>
